In [9]:
import numpy as np

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="djsalvi1424@0310",
    auth_plugin='mysql_native_password'  # Specify the authentication plugin here
)

mycursor = mydb.cursor()

mycursor.execute("create database dairy")

In [15]:
mycursor.execute("SHOW DATABASES")

for i in mycursor:
    print(i)

('dairy',)
('exem',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('person',)
('sys',)

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="djsalvi1424@0310",
    auth_plugin='mysql_native_password',  # Specify the authentication plugin here
    database = "dairy"
)

mycursor = mydb.cursor()

mycursor.execute("create table product (ID INT AUTO_INCREMENT PRIMARY KEY, name varchar(255), quality INT, price INT)")

In [1]:
print("---------------------------------------------")
print("Dairy product")
print("---------------------------------------------")
print("product name with price per KG/liter") 
print("_____________________________________________")
print("Banana  -  50 rupess")
print("Apple  -  80 rupess")
print("Coconat  -  60 rupess")
print("Milk  -  64 rupess")
print("Bread  -  30 rupess")

---------------------------------------------
Dairy product
---------------------------------------------
product name with price per KG/liter
_____________________________________________
Banana  -  50 rupess
Apple  -  80 rupess
Coconat  -  60 rupess
Milk  -  64 rupess
Bread  -  30 rupess

In [2]:
print("press 1: Add product")
print("press 2: Edit product")
print("press 3: Delete product")

user_input = int(input("Press any above number:"))

press 1: Add product
press 2: Edit product
press 3: Delete product
Press any above number:1

In [6]:
import mysql.connector

if user_input == 1:
    
    p_nm = input("Enter the name of product: ")
    p_qun = input("Enter the quantity of product: ")
    p_price = input("Enter the price of product: ")
    
    mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="djsalvi1424@0310",
    auth_plugin='mysql_native_password',  # Specify the authentication plugin here
    database = "dairy"
    )

    mycursor = mydb.cursor()
    
    sql = "insert into product (name, quality, price) values (%s, %s, %s)"
    val = (p_nm, p_qun, p_price)
    
    mycursor.execute(sql, val)
    
    mydb.commit()
    
    print(mycursor.rowcount, "is inserted.")

Enter the name of product: apple
Enter the quantity of product: 1
Enter the price of product: 12
1 is inserted.